body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
.container{
    max-width: 1200px;
    margin:0 auto;
}
.logo_img{
    background-image: url(../images/22.png);
width: 200px;
}
.nav{
    display: flex;
    margin-left: -90px;
}

.menu{
    display: flex;
    list-style: none;
}
.menu-item-list{
padding:10px 20px;
}
.menu-item-list:hover{
    border-bottom: 1px solid black;
}
.menu-item-link{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;

}
.namber{
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
}
.namber:hover{
    color:#fca014;
    cursor: pointer;
}
.opening_hours{
    font-size: 16px;
    color: #676E87;
}
.banner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 400px;
    flex: 0 0 30%;
}
.left-title{
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 28px;
}
.cull_up{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f81111;
    padding: 15px;
    height: 52px;
    width: 100%;
    max-width: 300px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 8px 8px 0 #a00000;
    border: 0;
    text-decoration: none;
}
.cull_up:hover{
    box-shadow: none;
    transition: .2s;
}

.right{
 
    margin-left: 70px;
}
.right img{
    flex: 0 0 70%;
    max-width:100%;

}
.banner_bottom{
    margin-top:70px;
}
.cards{
display: flex;
flex-wrap: wrap;
flex: 0 0 33.3333%
}
.card{
margin: 20px 30px;
min-width: 320px;
}
.card_info{
display: flex;
}
.img_card{
    margin-right: 20px;
}
.card_text{
    font-size: 18px;
}
.work{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}
.title{
    font-size: 33px;
    font-weight: 800;
    color: #182036;
}
.work__left{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 30px;
}
.how__we-work{
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}
.how__we-work li {
    display: flex;
    align-items: stretch;
    margin-top: 68px;
    align-items: center;
}
.how__we-work li .nomber__list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    min-width: 73px;
    height: 73px;
    background-color: #0061CD;
    border: 10px solid #61abff;
    border-radius: 50%;
    color: #fff;
    margin-right: 45px;
    position: relative;
}
.text__side-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #182036;
    font-size: 20px;
}
.text__side-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #676E87;
    margin-top: 9px;
}
.work__right{
    flex: 0 0 40%;
    max-width: 50%;

}
.work__img{
   width: 100%!important;
    vertical-align: middle;
    border-style: none;
}
.section-1{
    margin-bottom: 30px;
}
.row{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    flex: 0 0 50%;
    max-width: 50%;
}
.comments__text{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #676E87;
    margin-top: 5px;
}
.comments__sub{
    color: #0061CD;
}
.num{
    border: 0;
    border-bottom: 1px solid #676E87;
    background-color: transparent;
    font-size: 20px;
    height: 38px;
    width: 100%;
    max-width: 311px;
    margin-top: 30px;
}
.form__textarea {
    display: block;
    width: 80%;
    padding: 1.3rem 1.8rem;

    border: 1px solid fade(#707070, 30%);
    border-radius: 1.8rem;

    font-family: inherit;
    font-size: .8rem;
    line-height: 1.2;
    font-weight: 300;
    color: black;
    height: 200px;
    resize: none;
}
.section-1 .num{
    margin-bottom: 15px;
}
.section-1 .cull_up{
    margin-top: 30px;
}
.section-2{
    margin-top: 100px;
    margin-bottom: 100px;
}
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.section-2 .title {
    margin-bottom: 44px;
    text-align: center;
}
.section-2 .title .blue {
    color: #0061CD;
    text-transform: uppercase;
}
.section-2 .price_table {
    background-color: #fff;
    padding: 10px 100px;
}
.section-2 .price_table .row {
    height: 52px;
    margin-top: 9px;
    border-bottom: 1px dotted #676E87;
}
.section-2 .price_table .row .left_text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0px 20px 15px 20px;
}
.section-2 .price_table .row .price {
    margin-left: auto;
    display: flex;
    max-width: 156px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fca014;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}
.section__our-works{
    background-color:#F8F8F8;
    padding: 40px 0px;
}
.our__works-title{
    margin-bottom: 30px;
}
.slider{
    max-width: 90%;
    margin: 0 auto;
}
.slide{
    padding: 10px 10px;
}
.img__slide{
    width: 400px;
    height: 300px;
    justify-content: center;
    margin:0 auto;
    
}
.section-3{
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 15px 0px;
    background-color: #F8F8F8;
}

.faq {
    max-width: 500px;
    margin: 20px auto;
}

.faq-item {
    margin-bottom: 5px;
    border: 1px solid #000;
}

.faq-title {
    display: block;
    padding: 10px 15px;
    position: relative;
    color: #000;
    cursor: pointer;
    transition: background .2s ease-out;
    font-size: 20px;
    font-weight: 500;
    
}

.faq-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.faq-title:hover {
    background-color: #0061CD;
    color:#fff;
}
.faq-input {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.faq-input:checked ~ .faq-title {
    background-color: #0061CD;
    color:#fff;
}

.faq-input:checked ~ .faq-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
}

.faq-input:checked ~ .faq-text {
    display: block;
}

.faq-text {
    display: none;
    padding: 10px 15px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.section-4{
    margin-top: 50px;
    background-color: #F8F8F8;
    padding: 15px 0px;
    margin-bottom: 50px;
}
.about__us-left{
    flex: 0 0 30%;
    max-width: 30%;
}
.about__us-img{
    max-width: 90%;
    height: 350px;
}
.about__us-text{
    flex: 0 0 70%;
    max-width: 70%;
    font-size: 16px;
    line-height: 24px;
}
.about__us-text .blue{
    font-weight: 600;
    color: #0061CD;
}
.section-5, .section-6{
    background-color: #F8F8F8;
    padding: 15px 0px;
    margin-bottom: 50px;
}
.section-6 .row{
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
}
.contacts-map{
    display: flex;
    text-align: center;
    line-height: 24px;
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: center;

}
.contacts__opening-hourse, .contacts__phones{
    padding: 20px 25px;
    flex: 0 0 40%;
    max-width: 50%;
    border: 1px solid black; 
    
}
.contacts__opening-hourse{
    margin-right: 50px;

}
.contacts__title{
    font-weight: 600;
    font-size: 20px;
    color: #182036;
    padding-bottom: 10px;
}
.contacts__text{
    font-size: 16px;
    color: #676E87;
    line-height: 20px;
}
.cont{
    font-weight: 600;
    font-size: 16px;
}
.cont:hover{
    color:#0061CD;
    cursor: pointer;
}
.footer{
    max-width: 100%;
    background-color:#F8F8F8;
}
.copy{
    font-size: 12px;
    font-weight: 400;
    padding:30px 0px;
    margin-top: 100px;
}

@media (max-width: 992px){
.container{
    max-width: 900px;
}
.price_table .left_text{
    max-width: 70%;
}
.about__us-left {
    flex: 0 0 40%;
    max-width: 40%;
}
.about__us-text {
    flex: 0 0 60%;
    max-width: 60%;
    font-size: 14px;
    line-height: 24px;
}
}
@media (max-width:768px){
.container{
    max-width: 730px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
a {
    width: 100%;
    text-align: center;
}
.nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
}
.phone_contacts{
    margin: 0 auto;
}
.cards .card{
    margin: 20px 20px
}
.work__left{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0 ;
    padding-right: 0;
    margin-right: 0;
}
.how__we-work{
    margin-bottom: 10px;
}
.how__we-work li{
    margin-top:50px;
}
.work__right{
    flex: 0 0 100%;
    max-width: 60%;
    margin: 0 auto;
}
.section-1 .num {
    margin-top: 10px;
    font-size: 16px;
}
.section-2{
    margin-bottom: 30px;
}
.section-2 .price_table {
    background-color: #fff;
    padding: 10px 35px;
}
.about__us-left {
    flex: 0 0 100%;
    max-width: 100%;
}
.title {
    font-size: 33px;
    width: 100%;
    font-weight: 800;
    color: #182036;
}
.about__us-img {
    display: flex;
    max-width: 100%;
    height: 350px;
    margin: 0 auto;
}
.about__us-text {
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 24px;
}
}
@media (max-width: 576px){
.container{
    max-width: 500px;
}
.title{
    font-size: 26px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 20px;
}
.menu{
    margin-left: 0px;
}
.menu-item-list {
    padding: 10px 15px;
}
.banner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.left {
    width: 400px;
    flex: 0 0 100%;
    margin-bottom: 30px;
}
.left-title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 28px;
}
.right{
    margin-left: 0;
}
.right img {
    flex: 0 0 100%;
    max-width: 100%;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;
}
.section-2 .price_table {
    background-color: #fff;
    padding: 1px 0px;
}
.section-2 .price_table .row {
    flex-wrap: wrap;
    flex-direction: column;
    height: 52px;
    margin-top: 9px;
    border-bottom: 1px dotted #676E87;
}
.section-2 .price_table .row .left_text {
    width: 65%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 0px 20px 15px 20px;
}
.section-2 .price_table .row .price {
    width: 100%;
    margin-left: auto;
    display: flex;
    max-width: 156px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: #fca014;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    font-weight: bold;
}
.col-1 {
    flex: 0 0 100%;
    max-width: 100%;
}
.work__img{
    display: none;
}
.section-6 .row {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
    flex-wrap: wrap;
}
.contacts-map {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 24px;
    padding-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}
.contacts__opening-hourse, .contacts__phones {
    padding: 20px 25px;
    flex: 0 0 100%;
    max-width: 90%;
    border: 1px solid black;
    margin-right: 0;
    margin-bottom: 30px;
}
}